#contentContainer {
    min-width: 500px;
    width: 51.7vw;
    height: 93vh;
    background-color: #215e87;
    border-left: 2px solid black;
    overflow: auto;
}

h1 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 1px;
}

/*h3 {
    font-size: 18px;
    text-align: center;
    margin-top: 3px;
}*/

p {
    font-size: 16px;
    margin: 10px;
}

#para1 p b {
    font-size: 18px;
}

#resume {
    text-align: center;
}