#infoBarContainer {
    width: 23vw;
    height: 100vh;
    background-color: #2E86C1;
    overflow: auto;
}

#infoListOuter {
    padding: 1vh 0 0 1vw;
}

ul {
    margin: 0;
}

.paddedList {
    margin: .2vw;
}

.paddedList li {
    margin: .2vw;
}

ul#infoListOuter li {
    list-style-image: url('../res/open-iconic/svg/folder.svg');
}

ul#infoListSchool li {
    list-style-image: url('../res/open-iconic/svg/file.svg');
}

ul#infoListSports li {
    list-style-image: url('../res/open-iconic/svg/file.svg');
}

ul#infoListBusiness li {
    list-style-image: url('../res/open-iconic/svg/file.svg');
}

ul#infoListProgramming li {
    list-style-image: url('../res/open-iconic/svg/terminal.svg');
}