nav {
    width: 77vw;
    height: 7vh;
    background-color: #2E86C1;
    overflow: hidden;
}

nav ul button {
    height: 7vh;
    color: white;
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    font-size: 24px;
    padding: 1vh 3vw 1vh 3vw;
    border: none;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

#rightTab {
    border-right: 1px solid black;
}

.unselectedTab {
    border-bottom: 2px solid black;
}

.selectedTab {
    border-left: 1px solid black;
}