#sourceContainer {
    min-width: 300px;
    width: 25vw;
    height: 93vh;
    border-right: 2px solid black;
    overflow: auto;
}

#sourceContainer img {
    width: 55vw;
    height: 92.5vh;
    overflow: scroll;
}

#aboutSourceContainer {
    background-color: silver;
    min-width: 300px;
    width: 55vw;
    height: 92.5vh;
}

#skillsSourceContainer {
    background-color: red;
    width: 55vw;
    height: 92.5vh;
}
#portfolioSourceContainer {
    background-color: green;
    width: 55vw;
    height: 92.5vh;
}
#educationSourceContainer {
    background-color: blue;
    width: 55vw;
    height: 92.5vh;
}
#contactSourceContainer {
    background-color: purple;
    width: 55vw;
    height: 92.5vh;
}