#container {
    height: auto;
    overflow: hidden;
    background-color: #215e87;
}

#right {
    float: right;
    background-color: gray;
}

#left {
    float: none;
    overflow: hidden;
    height: 100vh;
}

#source {
    float: none;
    position: absolute;
    left: 23vw;
    top: 7vh;
}

#content {
    float: none;
    position: absolute;
    left: 48vw;
    top: 7vh;
}