#container {
    overflow: hidden;
    background-color: #215e87;
    min-width: 900px;
}

#leftContainer {
    float: none;
    min-width: 300px;
}

#rightContainer {
    float: right;
    min-width: 800px;
}

#right {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: gray;
}

#left {
    overflow: hidden;
    height: 100vh;
}

#source {
    float: none;
    position: absolute;
    left: 23vw;
    top: 7vh;
}

#content {
    float: none;
    position: absolute;
    left: 48vw;
    top: 7vh;
}