h1 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 1px;
}

#aboutContainer h3 {
    font-size: 18px;
    text-align: center;
    margin-top: 3px;
}

p {
    font-size: 16px;
    color: black;
    margin: 10px;
}

#para1 p b {
    font-size: 18px;
}

#resume {
    text-align: center;
}